
.sentry {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,154,36,1) 69%, rgba(252,247,69,1) 100%);
  border: 5px black;
}

.sentry-item {
    float: left;
    font-size: large;
}

.sentry-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


    img {
        position: absolute;
        top: -5px;
        right: 0px;
        width:8pc
        
      }
      
      <img src="powerbuddy.png" alt="logo">